*{
        margin:0;
        padding:0;
        font-size:14px;
        font-family:"Open Sans";
}

header{
        display:flex;
        justify-content:center;
        background-color:#000;
        padding:25px 0px;        
}

h1{
        font-size:30px;
        color:white;
        text-transform:uppercase;
        
}
#flexing ul{

        display:flex;
        flex-direction:row;
        justify-content: center;        
        list-style-type:none;
        margin:50px 0;
}
#flexing ul li{
        padding:0 50px;
        font-size:2em;
        text-transform:uppercase;
    
}